<style>
  .focus:hover {
    /* webkit-filter: blur(4px); */
    /* Chrome, Safari, Opera */
    /* filter: blur(4px); */
    /* color: #000000 !important; */
    /* border-color: #2196F3 !important; */
    border: solid rgba(100, 184, 252, 0.651) 0.1px !important;

  }
</style>

<div class="p-2 mt-1">
  <div class="row">
    <div class="col-12 col-md-auto col-lg-4">
      <a href="javascript:void(0)" class="btn btn-accent btn-sm ml-3" (click)="route()">
        <i class="zmdi zmdi-plus-circle-o"></i> Novo programa
      </a>
    </div>
    <div class="col">
      <div class="input-group mt-2 ml-3">
        <input type="text" [(ngModel)]="userFilter.name" name="nameFilter" class="form-control" placeholder="Pesquisar"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <i class="zmdi zmdi-search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-auto ">
      <div style="width: 84px;">
        <ul class="actions icons top-right mr-3" style="top: 0px;">
          <li>
            <a href="javascript:void(0)">
              <i class="zmdi zmdi-sort-asc"></i>
            </a>
          </li>
          <li class="dropdown" ngbDropdown>
            <a href="javascript:void(0)" ngbDropdownToggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a>
            <ul class="dropdown-menu btn-primary dropdown-menu-right">
              <li>
                <a href="javascript:void(0)"> Status </a>
              </li>
              <li>
                <a href="javascript:void(0)"> Status </a>
              </li>
              <li>
                <a href="javascript:void(0)"> Status </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <div class="card mb-1 focus" *ngFor="let programa of listaProgramas| filterBy: userFilter;">
      <div class="card-block focus">
        <div class="d-flex" style="padding-right: 80px">
          <div class="p-2 text-truncate" style="width: 200px; max-width: 200px; min-width: 200px;" (click)="item(programa.id)">
            <span class="d-block font-weight-700"> {{programa.name}}</span>
          </div>
          <div class="p-2 text-truncate" style="width: 70px; max-width: 70px; min-width: 70px;" (click)="item(programa.id)">
            <span class=""> {{programa.programKey}} </span>
          </div>
          <div class="p-2 text-truncate" style="max-width: 390px;" (click)="item(programa.id)">
            <span class=""> {{programa.description}}</span>
          </div>
          <div class="ml-auto p-2">
            <span class="text-blue pr-2" placement="bottom" ngbTooltip="Total de convites">
              <i class="zmdi zmdi-accounts-add" style="font-size: 25px"></i> {{programa.total}} </span>
            <span class="text-green pr-2" placement="bottom" ngbTooltip="Aceitos">
              <i class="zmdi zmdi-accounts" style="font-size: 25px"></i>{{programa.accept}} </span>
            <span class="text-red pr-2" placement="bottom" ngbTooltip="Rejeitados">
              <i class="zmdi zmdi-accounts" style="font-size: 25px"></i> {{programa.rejected}} </span>
            <span class="text-gray pr-2" placement="bottom" ngbTooltip="Aguardando">
              <i class="zmdi zmdi-accounts" style="font-size: 25px"></i> {{programa.ignore}} </span>
            <span class="text-yellow pr-2" placement="bottom" ngbTooltip="Cancelados pelo usuário">
              <i class="zmdi zmdi-accounts" style="font-size: 25px"></i> {{programa.cancel}} </span>
            <span class="text-black" placement="bottom" ngbTooltip="Inativados">
              <i class="zmdi zmdi-accounts-outline" style="font-size: 25px"></i> {{programa.totalPatientInactive }}
            </span>
          </div>
          <div class="p-2">
            <div class="">
              <div style="right: 30px; position: absolute;">
                <app-el-checkbox></app-el-checkbox>
              </div>
              <!-- <div>
                <ul class="actions icons top-right mr-3" style="top: 3px;">
                  <li class="dropdown" ngbDropdown>
                    <a href="javascript:void(0)" ngbDropdownToggle>
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu btn-primary dropdown-menu-right">
                      <li>
                        <a href="javascript:void(0)"> Status </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"> Status </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"> Status </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end user -->
</div>
