<div id="content_wrapper" class="fullWidth1-wrapper">
  <div class="content">
    <div class="header-wrapper header-sm">
      <header class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>{{title}}</h1>
          </div>
        </div>
      </header>
    </div>
    <!-- <div class="content-body">

      <div class="font-size-30">

        <i class="mv-hosp">altura</i>
        <i class="mv-hosp">caminhar</i>
        <i class="mv-hosp"> circunferencia_abd</i>
        <i class="mv-hosp"> circunferencia_cran</i>
        <i class="mv-hosp"> diabetes</i>
        <i class="mv-hosp"> dor</i>
        <i class="mv-hosp">estresse</i>
        <i class="mv-hosp">fadiga</i>
        <i class="mv-hosp"> oxigenio</i>
        <i class="mv-hosp"> pvc</i>
        <i class="mv-hosp"> patologia</i>
        <i class="mv-hosp"> imc</i>
        <i class="mv-hosp"> hipertensao</i>
        <i class="mv-hosp"> frequencia_cardiaca</i>
        <i class="mv-hosp"> fluxo_ar</i>
        <i class="mv-hosp"> medicamentos </i>
        <i class="mv-basico"> bicicleta </i>
        <i class="mv-hosp">internado</i>
        <i class="mv-basico">balanca</i>
        <i class="mv-basico">alimento</i>
        <i class="mv-basico">desempenho_bom</i>
        <i class="mv-basico">desempenho_medio</i>
        <i class="mv-basico">desempenho_ruim</i>
        <i class="mv-hosp">soroterapia</i>
        <i class="mv-hosp">afericao</i>

        <i class="mv-hosp">raio_x</i>
        <i class="mv-hosp">exame</i>


      </div>


      <div class="card p-4">
        <div *ngIf="calendarOptions">
          <ng-fullcalendar #ucCalendar [options]="calendarOptions" (select)="select($event.detail)" (eventClick)="eventClick($event.detail)"
            (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)">
          </ng-fullcalendar>
        </div>
      </div>
      <div>
        <div class="accordion" id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  Collapsible Group Item #3
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> -->
  </div>
</div>
